<div class="aboutus-area">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="float-left"><img style="max-width:500px" class="img-fluid img-thumbnail" src="../../assets/aboutimg.jpeg" alt="BookBuddy"></div>
            </div>
            <div class="col">
                <div class="aboutus-content ">
                    <h1>About Us <span style="color: #71b100;">BookBuddy</span></h1>
                    <h4 class="text-muted">Intoduction</h4>
                    <p style="margin-top:20px;">There is something magical about reading books. Still, it isn’t always easy to make a trip to the bookstore or library to find that specific book that you are looking for. BookBuddy is one stop e-shopping book platform for you whether you like fiction or non-fiction, fantasy or sci-fi, Philosophy or Spirituality, Competitive exams or Academic Texts, for Children or Young Adults, School or Self-help and a lot more. BookBuddy provides an opportunity to Buy and Sell Books to Users at a reasonable price. Users can sell their old books to others from their home.</p>


                </div>
            </div>
        </div>

        <div class="row" style="margin-top:40px;">

            <div class="col text-center">
                <h2 class="counter" style="color: #71b100;">1500</h2>
                <p class="text-muted">Books</p>
            </div>

            <div class="col text-center">
                <h2 class="counter" style="color: #71b100;">20</h2>
                <p class="text-muted">Categories</p>
            </div>

            <div class="col text-center">
                <h2 class="counter" style="color: #71b100;">100</h2>
                <p class="text-muted">Vendors</p>
            </div>

            <div class="col text-center">
                <h2 class="counter" style="color: #71b100;">5</h2>
                <p class="text-muted">Payment Getways</p>
            </div>

        </div>

    </div>
</div>