<div class="container-fluid">
        
    <div class="container">
            <div class="row p-2 m-2">
                   
               
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3">
                    <div class="card">
                        <div style="text-align:center">
                            <a href="/Product/103">
                                    <img class="card-img-top img-fluid" src="https://rukminim1.flixcart.com/image/416/416/k2w6xe80/book/1/6/6/success-secrets-of-amazon-original-imafm3nymrhu5nxh.jpeg" alt="Success Secrets of Amazon  (English, Paperback, unknown)">
                            </a>
                        </div>
                        <div class="card-block">
                            <a href="/Product/103" class="card-title text-muted" title="Success Secrets of Amazon  (English, Paperback, unknown)">Success Secrets of Amazon  (English, Paperback, unknown)</a>
                            <div class="card-text">₹300
                        </div>
                        </div>
                        <div class="card-footer">
                            <form method="post" action="/Cart/Add">
							<button type="submit" id="addToCart" class="btn btn-primary btn-sm">Add to cart</button>
                                    <div class="float-right">
                                        <i class="fa fa-star star-active"></i>
                                        <span>3.00</span>
                                    </div>
							</form>
						</div>
					</div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3">
                    <div class="card">
                        <div style="text-align:center">
                            <a href="/Product/103">
                                    <img class="card-img-top img-fluid" src="https://rukminim1.flixcart.com/image/416/416/k2w6xe80/book/1/6/6/success-secrets-of-amazon-original-imafm3nymrhu5nxh.jpeg" alt="Success Secrets of Amazon  (English, Paperback, unknown)">
                            </a>
                        </div>
                        <div class="card-block">
                            <a href="/Product/103" class="card-title text-muted" title="Success Secrets of Amazon  (English, Paperback, unknown)">Success Secrets of Amazon  (English, Paperback, unknown)</a>
                            <div class="card-text">₹300
                        </div>
                        </div>
                        <div class="card-footer">
                            <form method="post" action="/Cart/Add">
							<button type="submit" id="addToCart" class="btn btn-primary btn-sm">Add to cart</button>
                                    <div class="float-right">
                                        <i class="fa fa-star star-active"></i>
                                        <span>3.00</span>
                                    </div>
							</form>
						</div>
					</div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3">
                    <div class="card">
                        <div style="text-align:center">
                            <a href="/Product/103">
                                    <img class="card-img-top img-fluid" src="https://rukminim1.flixcart.com/image/416/416/k2w6xe80/book/1/6/6/success-secrets-of-amazon-original-imafm3nymrhu5nxh.jpeg" alt="Success Secrets of Amazon  (English, Paperback, unknown)">
                            </a>
                        </div>
                        <div class="card-block">
                            <a href="/Product/103" class="card-title text-muted" title="Success Secrets of Amazon  (English, Paperback, unknown)">Success Secrets of Amazon  (English, Paperback, unknown)</a>
                            <div class="card-text">₹300
                        </div>
                        </div>
                        <div class="card-footer">
                            <form method="post" action="/Cart/Add">
							<button type="submit" id="addToCart" class="btn btn-primary btn-sm">Add to cart</button>
                                    <div class="float-right">
                                        <i class="fa fa-star star-active"></i>
                                        <span>3.00</span>
                                    </div>
							</form>
						</div>
					</div>
                </div>


            </div>
            
    </div>
</div>